<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="main.css" rel="stylesheet">
</head>
<body>
    <h1> Форма для поиска</h1>
        <form action="result.html">
            <input type="text" value="query_string"placeholder="строка поиска">
            <br>
            <input type="submit" value="Искать вакансию">
            <p><select name="where">
                <option> Везде</option>
                <option value="">В названии компании</option>
                <option selected="">в названии вакансии</option>
            </select> </p>

        </form>
    <hr>
    <p class="proverb">
        Работа не волк, в лес не убежит
    </p>
    <a href="index.html"> На главную</a>
</body>
</html>