<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CTPAHUCA</title>
</head>
<body>
    <h1>
        Мегапарсер
    </h1>
        <h2>
            Это главная страница
        </h2>
            <h3>
            инфа о системе
            </h3>
            <p>
            этот парсер умеет получать информацию с HH РУ <br>
            и что с ней делать
            </p>
            <p>
            можно задать параметры поиска
            </p>
        <a href="form.html"> Начать поиск </a>
</body>
</html>